<html>
Hello {{ hello_msg }} <br>
Serving host: {{ ansible_eth0.ipv4.address }}

<br><br>
link1: <a href="https://54.183.252.197/cgi-bin/hello.pl">Host1 CGI </a> <br>
link2: <a href="https://54.153.91.251/cgi-bin/hello.pl">Host2 CGI </a> <br>
</html>
