user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /var/run/nginx.pid;

events {
    worker_connections 1024;
}

http {
    upstream fc_site {
    {% for server in groups.private %}
        server {{ server }}:8080;
    {% endfor %}
    }

    server {
        listen 80;
        listen 443 ssl;
        ssl_certificate      /root/ssl/fc.bundle.crt;
        ssl_certificate_key  /root/ssl/fc.key;

        # ssl_protocols  SSLv2 SSLv3 TLSv1;
        # ssl_ciphers  ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP;
        # ssl_prefer_server_ciphers   on;


        location / {
            proxy_pass http://fc_site;
            # proxy_pass http://fc_site/cgi-bin/hello.pl;
        }
    }
}
